src/main/resources/xsd/foretagsinformation/F1_Grundpaket_2.00.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:foretagshuvud200="http://www.bolagsverket.se/schemas/common/foretagshuvud/foretagshuvud_200" xmlns:informationshuvud200="http://www.bolagsverket.se/schemas/common/informationshuvud/informationshuvud_200" xmlns="http://www.bolagsverket.se/schemas/foretagsinformation/F1_200" targetNamespace="http://www.bolagsverket.se/schemas/foretagsinformation/F1_200" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:import namespace="http://www.bolagsverket.se/schemas/common/informationshuvud/informationshuvud_200" schemaLocation="./../common/informationshuvud/Informationshuvud_2.00.xsd"/>	<xs:import namespace="http://www.bolagsverket.se/schemas/common/foretagshuvud/foretagshuvud_200" schemaLocation="./../common/foretagshuvud/Foretagshuvud_2.00.xsd"/>	<xs:element name="Foretagsinformation">		<xs:complexType>			<xs:sequence>				<xs:element ref="informationshuvud200:Informationshuvud" minOccurs="0"/>				<xs:element name="Foretag" minOccurs="0" maxOccurs="unbounded">					<xs:complexType>						<xs:sequence>							<xs:element ref="foretagshuvud200:Foretagshuvud"/>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>			<xs:attribute name="SchemaVersion" type="xs:string" use="required" fixed="2.00"/>		</xs:complexType>	</xs:element></xs:schema>