src/main/resources/wsdl/XMLProdukt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlprodukt.webservices.serviceinterface.utdata.registrering.bolagsverket.se" xmlns:impl="http://xmlprodukt.webservices.serviceinterface.utdata.registrering.bolagsverket.se" xmlns:intf="http://xmlprodukt.webservices.serviceinterface.utdata.registrering.bolagsverket.se" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xmlprodukt.webservices.serviceinterface.utdata.registrering.bolagsverket.se" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="getProduktResponse">
    <complexType>
     <sequence>
      <element name="getProduktReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProdukt">
    <complexType>
     <sequence>
      <element name="userId" nillable="true" type="xsd:string"/>
      <element name="certId" nillable="true" type="xsd:string"/>
      <element name="xmlFraga" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProduktResponse">
     <wsdl:part element="intf:getProduktResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="getProduktRequest">
     <wsdl:part element="intf:getProdukt" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="XMLProdukt">
     <wsdl:operation name="getProdukt">
       <wsdl:input message="intf:getProduktRequest" name="getProduktRequest"/>

       <wsdl:output message="intf:getProduktResponse" name="getProduktResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="XMLProduktSoapBinding" type="intf:XMLProdukt">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="getProdukt">
       <wsdlsoap:operation soapAction="getProdukt"/>

       <wsdl:input name="getProduktRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="getProduktResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="XMLProduktService">
     <wsdl:port binding="intf:XMLProduktSoapBinding" name="XMLProdukt">
       <wsdlsoap:address location="http://localhost:9080/RegUtd_ServiceInterface_Web/services/XMLProdukt"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
